<section class="content" style="padding: 10px">
  <div class="container-fluid">  
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Liste de groupes</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header d-flex">
          <div class="mr-auto p-2" style="text-align: left;">
            <h6 class="font-weight-bold text-primary">Pour ajouter un nouveau groupe, cliquez sur le bouton ajouter</h6>
          </div>
          <div class="p-2" style="text-align: right;">
              <button type="button" class="btn btn-outline-success" (click)="goToAddPage()"  >
                  <b>Ajouter</b>
              </button>
          </div>       
        </div>
        <div class="card-body">
          <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nom</th>
                              <th scope="col">Discipline</th>
                              <th scope="col">Entraîneur</th>
                              <th scope="col">Adhérents</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let groupe of Groupes ; let i=index">
                              <th scope="row">{{i}}</th>
                              <td>{{groupe.nom}}</td>
                              <td>{{groupe.nom_discipline}}</td>
                              <td>{{groupe.nom_entraineur}}</td>
                              <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#adherentsModal" (click)="afficherAdherents(i)">
                                      Afficher
                                </button>
                              </td>
                              <td> 
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="modifier(i)">
                                      Modifier
                                </button>
                              </td>  
                              <td> 
                                <button type="button" class="btn btn-danger" (click)="supprimer(groupe.id,i)"  >
                                      Supprimer
                                </button>
                              </td>   
                            </tr>
                          </tbody>
                      </table>
                  </div>


                  <!-- Modal -->
                  <div class="modal fade" id="adherentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Liste des adhérents</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <ul class="list-group">
                                  <li class="list-group-item" *ngFor="let adhe of Adherents ; let i=index">{{adhe.nom}}</li>
                              </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>



                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modifier groupe</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Nom du groupe</label>
                                    <div class="form-line">
                                         <input type="text" class="form-control" placeholder="Nom du groupe" [(ngModel)]="nom" name="nom" required />
                                    </div>
                                </div>
      
                                <div class="form-group">
                                    <label>Choisir un discipline</label>
                                    <select class="form-control show-tick" type="text" [(ngModel)]="discipline" name="discipline" (ngModelChange)="disciplineChanged()" > 
                                          <option value="{{i}}" *ngFor="let disc of Disciplines; let i = index;">
                                                {{disc.nom}} ({{disc.nom_entraineur}})
                                          </option>
                                    </select>
                                </div>
      
                                <div class="form-group">
                                    <label>Choisir les adhérents</label>
                                    <select class="form-control show-tick" type="text" [(ngModel)]="adherent" name="adherent" (ngModelChange)="adherentChanged()" > 
                                          <option value="{{i}}" *ngFor="let adh of Adherents; let i = index;">
                                                {{adh.nom}}
                                          </option>
                                    </select>
                                </div>
      
                                <div class="form-group">
                                    <label>Liste des adhérents choisis</label>
                                    <select multiple class="form-control" [(ngModel)]="listeAdherents" name="listeAdherents" disabled> 
                                          <option value="{{i}}" *ngFor="let adhe of ListeAdherents; let i = index;">
                                                {{adhe.nom}}
                                          </option>
                                    </select>
                                </div>
                                
      
                                <div class="alert alert-danger" role="alert" *ngIf = "error">
                                    {{errorMessage}}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          <button type="button" class="btn btn-primary" (click)="modifierGroupe(i)">Enregistrer</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
      </div>
  </div>
</section>

